// Add your sass mixins and functions here

// ----- rem ----- //
//REM conversor
//use:
//  .element {
//    font-size: rem(16);
//  }
@function rem($size) {
  @return #{$size / $f-base}rem;
}

@mixin box-shadow($top, $left, $blur, $color) {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
}

@mixin rotate($grades) {
  transform: rotate($grades);
  -webkit-transform: rotate($grades);
  -moz-transform: rotate($grades);
}

@mixin transition($to,$duration,$function) {
  -webkit-transition: $to $duration $function;
-moz-transition: $to $duration $function;
-ms-transition: $to $duration $function;
-o-transition: $to $duration $function;
transition: $to $duration $function;
}


// ...
