// Add global styles for typography
// and define classes for UI KIT font variants here
// For example:
// .t-h1 {
//   font: $f-bold rem(24) / rem(38) $f-title;
// }
// ...
@import './variables';
@import './_mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;700&display=swap');

.t-h1 {
    font: $f-bold rem(24) / rem(38) $f-title;
    color:$c-secondary;
}

.t-h2 {
    font: $f-bold rem(24) / rem(30) $f-title;
    color:$c-primary;
    margin:rem(40) 0;
}

.t-h3 {
    font: $f-bold rem(16) / rem(16) $f-text;
    color:$c-primary;
}

.t-h4 {
    font: $f-regular rem(15) / rem(18) $f-text;
    color:$c-primary;
}

.t-text {
    font:$f-regular rem(14) / rem(20) $f-text;
    color:$c-text;

    &.active {
        color:$c-primary;
    }
}

.t-bold {
    font:$f-bold rem(14) / rem(20) $f-text;
    color:$c-text;

}

.t-small {
    font: $f-regular rem(14) / rem(20) $f-text;
    color:$c-text;
}

.t-tag {
    font: $f-regular rem(12) / rem(14) $f-text;
    text-transform: uppercase;
    letter-spacing: 1.52px;
    color:$c-white;
}

.t-link {
    font: $f-bold rem(14) / rem(20) $f-text;
    color:$c-secondary;
}

.item-a {
    font: $f-regular rem(16) / rem(16) $f-title; 
    color:$c-secondary;
}
