// Add your sass variables here
// For examples, colors, font related, media queries breakpoints, z-index...

// Colors
$c-primary: #003970;
$c-secondary: #0575c5;
$c-text: #4e5055;
$c-white: #ffffff;
$c-featured: #be2227;
$c-selected: #6dc138;
// ...

//Backgrounds
$bg-1 : #ffffff;
$bg-2: #fafafa;

//...

// Font
$f-base: 16;
$f-regular:400;
$f-bold: 700;
$f-title: 'Roboto Slab', serif;
$f-text: 'Roboto', sans-serif;
// ...

//Media queries
$m-tablet : "max-width:768px";
$m-mobile: "max-width:375px";

//...
