.accordion {
    padding: rem(24) rem(16);
    margin: rem(40);
    max-width: 1200px;
    background: $bg-1;
    position: relative;
    border:1px solid #eaeaea;

    @media($m-mobile) {
        margin:rem(16);
    }

    .wrapper-title {
        display: flex;
        align-items: center;

        h1 {
            cursor: pointer;

            @media($m-tablet) {
                margin-top: rem(24);
            }

            small {
                margin-left: rem(16);
                @media($m-tablet) {
                    margin-left: 0;
                }
            }

            svg {
                width: 21px;
                height: 13px;
                margin-right: rem(24);
            }

            svg {
                @include rotate(180deg);
                @include transition(all,0.3s,ease-in-out)
            }

            &.close {
                svg {
                    @include rotate(0deg);
                    @include transition(all,0.3s,ease-in-out)
                }
            }
        }
    }

    .wrapper-tag {
        background: $c-featured;
        justify-content: center;
        display: flex;
        align-items: center;
        width: 221px;
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;

        @media($m-tablet) {
            left: 50%;
            right: unset;
            transform: translate(-50%, 0%);
        }
    }


    .inner-card {
        border: 1px solid #eaeaea;
        margin-bottom: rem(23);
        margin-top: rem(41.2);

        @media($m-tablet){
            padding: 0 rem(20);
        }

        @media($m-mobile) {
            padding: 0;
        }

        .wrapper-visible {
            display: flex;

            @media($m-tablet) {
                flex-direction: column;

                .container-img {
                    margin: 0 auto;
                }
            }

            .container-img {
                min-width: 200px;
                max-height: 180px;
                overflow: hidden;

                img {
                    width:100%;
                    max-width: 268px;
                    min-width: 200px;
                    display: block;

                    @media($m-mobile) {
                        max-width: 340px;
                    }
                }
            }

            .wrapper-text {
                margin-left: rem(32);
                padding: rem(20) 0;
                display: flex;
                max-width: 600px;
                flex-direction: column;
                justify-content: space-between;

                @media($m-tablet) {
                    margin-left: 0;
                    padding: rem(16);
                }

                a {
                    cursor: pointer;
                }

                .toggle {
                    svg {
                        width: 8px;
                        height: 12px;
                        margin-left: rem(17);
                        @include transition(all,0.3s,ease-in-out);
                    }

                    &.open {
                        svg {
                            @include rotate(180deg);
                            @include transition(all,0.3s,ease-in-out);
                        }
                    }
                }
            }
        }
    }

    .wrapper-includes {
        margin-left: rem(100);
        max-width: 868px;

        @media($m-tablet) {
            margin-left: 0;
        }

        p {
            margin-left: rem(24);

            &.t-bold {
                margin-top: rem(30);
            }
        }

        ul {
            columns: 3;
            column-gap: rem(43);

            @media($m-mobile) {
                columns:1;
                padding-right: rem(16);
            }
        }
    }

}