#cards-wrapper {
    display: flex;
    padding: 0 rem(40);

    .card {
        width: 267px;
        min-height: 488px;
        padding: rem(24) rem(24.7);
        border: 1px solid $c-secondary;
        margin: 0 rem(16);
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        background: $bg-1;


        h3 {
            text-align: center;
            position: relative;
            margin-bottom: rem(39);

            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 84px;
                opacity: 0.3;
                background-color: $c-primary;
                left: 30%;
                bottom: rem(-19);
            }
        }

        .wrapper-includes {
            height: 90%;

            ul {
                color: $c-primary;
                padding: 0;
                margin: 0 rem(25);

                li {
                    margin-bottom: rem(10);
                }
            }
        }

        .wrapper-picker {
            background: $bg-2;
            padding: rem(14) rem(10);
            position: relative;

            &.active {
                border: 1.5px solid $c-primary;
            }

            .container {
                display: block;
                position: relative;
                padding-left: rem(30);
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                    height: 0;
                    width: 0;

                    &:checked {
                        &~.label-text {
                            color: $c-primary;
                        }

                        &~.checkmark {
                            border-color: $c-selected;

                            &:after {
                                display: block;
                                top: 3px;
                                left: 3px;
                                width: 10px;
                                height: 10px;
                                border-radius: 50%;
                                background: $c-selected;
                            }
                        }
                    }
                }

                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 16px;
                    width: 16px;
                    border: 1px solid $c-text;
                    background-color: $bg-1;
                    border-radius: 50%;

                    &:after {
                        content: "";
                        position: absolute;
                        display: none;
                    }
                }
            }
        }
    }

    @media($m-tablet) {
        flex-wrap: wrap;

        .card {
            padding: rem(12);
            width: 41%;
            margin-bottom: rem(35);
        }

    }

    @media($m-mobile) {
        padding: 0 rem(16);
        margin-top: rem(16);

        .card {
            padding: rem(12);
            width: 100%;
            margin-bottom: rem(20);
        }
    }
}