@import './variables';
@import './typography';
@import './mixins';
@import './resets';
@import './clasesUtiles';
@import './nav.scss';
@import './cards.scss';
@import './accordion.scss';

.wrapper-app {
    max-width: 1280px;
    margin: 0 auto;
    background: $bg-2;
    height: 100vh;

    main {
        .title-wrapper {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            h2 {
                text-align: center;
                margin-right: rem(10);
                align-self: center;

                span {
                    font-weight: $f-regular;
                }

                @media($m-mobile) {
                    margin-right: 0;
                    margin-bottom: rem(16);
                }
            }

            svg {
                width: 12px;
                margin: 0 rem(2);
                height: 12px;
                align-self: center;
            }
        }
    }
}