nav.tab-menu {
    margin:0 rem(40);
    min-height: 42px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background:$bg-1;
    @include box-shadow(0px,2px,5px,rgba(0,0,0,0.06));

    @media($m-mobile) {
        justify-content: center;
    }

     ul {
         display: flex;
         padding: 0;
         margin:0;
         list-style: none; 

         li {
            a {
                text-decoration: none;
                display: block;
                min-width: 120px;
                text-align: center;
                padding: 0.1rem 0;
                word-break: break-all;
                position:relative;
                margin-bottom: rem(8);

                &:hover, &.active {
                    color:$c-primary;
                    @include transition(all,0.3s,ease-in);

                    &:after {
                        content:"";
                        height: 2px;
                        width: 100%;
                        position:absolute;
                        bottom: -8px;
                        left: 0;
                        background:$c-primary;
                    }
                }
            }
         }
     }
}